body{
    background: #ecedee;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

ul{
    color: white;    
}

#fundo {
    background-image: url(/static/fundo.jpg);
    background-attachment: fixed; 
    background-size: cover; 
    background-repeat:no-repeat ;
    text-align: center;    
}

.texto {
    padding: 3em;
}