body {
    background-image: url(/static/fundo.jpg);
    background-attachment: fixed; 
    background-size: cover; 
    background-repeat:no-repeat ; 
}
.branco{
    color:#ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

.texto  {
    margin-top: 20px;
}